<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scj.reggie_take_out.mapper.FaceInfoMapper">

    <select id="getFaceInfo" resultType="com.scj.reggie_take_out.entity.secne_Info.FaceInfo">
        select *
        from face_info
    </select>

</mapper>
